* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

a {
    cursor: pointer;
}

/* ---------------preloader start---------------- */

.preloader-overflow {
    overflow-y: hidden;
}

.preloader {
    color: white;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999999999999999999999;
    backdrop-filter: blur(8px);
}

.preloader-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: #000;
    padding: 50px 0px;
}

.preloader-logo-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-logo-image img {
    height: 60px;
}

.preloader-logo-text-container {
    transform: translateX(5px);
    margin-top: 2px;
}

#preloader-logo-text {
    width: 90%;
    animation: preloader-logo-text-fill-anim 3s ease forwards 10.5s;
}

#preloader-logo-text path:nth-child(1) {
    stroke-dasharray: 264px;
    stroke-dashoffset: 264px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards;
}
#preloader-logo-text path:nth-child(2) {
    stroke-dasharray: 193px;
    stroke-dashoffset: 193px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 0.5s;
}
#preloader-logo-text path:nth-child(3) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 1s;
}
#preloader-logo-text path:nth-child(4) {
    stroke-dasharray: 94px;
    stroke-dashoffset: 94px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 1.5s;
}
#preloader-logo-text path:nth-child(5) {
    stroke-dasharray: 251px;
    stroke-dashoffset: 251px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 2s;
}
#preloader-logo-text path:nth-child(6) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 2.5s;
}
#preloader-logo-text path:nth-child(7) {
    stroke-dasharray: 235px;
    stroke-dashoffset: 235px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 3s;
}
#preloader-logo-text path:nth-child(8) {
    stroke-dasharray: 201px;
    stroke-dashoffset: 201px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 3.5s;
}
#preloader-logo-text path:nth-child(9) {
    stroke-dasharray: 211px;
    stroke-dashoffset: 211px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 4s;
}
#preloader-logo-text path:nth-child(10) {
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 4.5s;
}

#preloader-logo-text path:nth-child(11) {
    stroke-dasharray: 211px;
    stroke-dashoffset: 211px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 5s;
}
#preloader-logo-text path:nth-child(12) {
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 5.5s;
}

#preloader-logo-text path:nth-child(13) {
    stroke-dasharray: 211px;
    stroke-dashoffset: 211px;
    animation: preloader-logo-text-stroke-anim 6s ease forwards 6s;
}

@keyframes preloader-logo-text-stroke-anim {
    50% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 1px;
    }
}

@keyframes preloader-logo-text-fill-anim {
    0% {
        fill: transparent;
    }
    100% {
        background-color: transparent;
        fill: rgba(245, 245, 245, 0.815);
    }
}

.preloader-loading-container {
    margin-top: 10px;
}

.preloader-loading-container h6 {
    letter-spacing: 4px;
}

.l {
    border-radius: 5px 0px 0px 5px;
    animation: loading-animation-l 7s ease-in-out infinite;
}

.o {
    animation: loading-animation-l 7s ease-in-out 1s infinite;
}

.a {
    animation: loading-animation-l 7s ease-in-out 2s infinite;
}

.d {
    animation: loading-animation-l 7s ease-in-out 3s infinite;
}

.i {
    animation: loading-animation-l 7s ease-in-out 4s infinite;
}

.n {
    animation: loading-animation-l 7s ease-in-out 5s infinite;
}

.g {
    border-radius: 0px 5px 5px 0px;
    animation: loading-animation-l 7s ease-in-out 6s infinite;
}

@keyframes loading-animation-l {
    15% {
        color: #8aff4b;
        background: #232323;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
            0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
            0 0 55px #49ff18, 0 0 75px #49ff18;
    }
    25% {
        color: #8aff4b;
        background: #232323;
    }
    14%,
    26% {
        color: white;
        background: #232323;
    }
}

/* ---------------preloader end---------------- */

body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(128, 127, 127, 0.705);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    border-radius: 10px;
}

.common-heading {
    font-size: 60px;
    font-weight: 600;
    -webkit-text-stroke: 2px rgb(34, 29, 29);
    color: rgba(219, 219, 219, 0.11);
    text-align: center;
}

nav {
    user-select: none;
    height: 80px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 0.2px 0px 0px rgba(255, 255, 255, 1);
    position: fixed;
    top: 0px;
    z-index: 10000000000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

nav:hover {
    background-color: rgba(0, 0, 0, 0.63) !important;
}

.nav-background-color-js {
    background-color: rgba(0, 0, 0, 0.63);
}

.nav-background {
    display: none;
}

.nav-background-js {
    display: block;
    height: 80px;
    width: 100%;
    z-index: -1;
    /* backdrop-filter: blur(5px); */
    position: absolute;
    left: 0;
}

.navbar-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: fit-content;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

nav .logo img {
    height: 50%;
    width: auto;
    margin-bottom: 2px;
}

nav .logo h5 {
    font-size: 14px;
    letter-spacing: 0.5px;
    background: -webkit-radial-gradient(#979799, #ececec 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .logo .pa {
    font-weight: 200;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 0.3px;
    background: -webkit-radial-gradient(#ffffff 80%, #979799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    float: right;
    margin-right: 30px;
    cursor: default;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-weight: 700;
    position: relative;
    padding: 7px 0;
    cursor: pointer;
}

nav ul span li::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s linear;
}

nav ul span li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.active-link::before {
    transform: scaleX(1) !important;
    transform-origin: left;
    transition: transform 0.2s linear 0.1s;
}

nav ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    color: white;
    padding: 7px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.social-icons {
    width: 120;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.S-device-social-icon {
    display: none;
}

.social-icons a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 25px;
}
.social-icons a i {
    color: #fff;
    transition: color 0.2s linear 0.1s;
}

.social-icons a:hover .fa-facebook-f,
.contact-social-icon:hover .fa-facebook-f {
    color: #456abb;
}
.social-icons a:hover .fa-instagram,
.contact-social-icon:hover .fa-instagram {
    color: #ff5918;
}
.social-icons a:hover .fa-linkedin-in,
.contact-social-icon:hover .fa-linkedin-in {
    color: #43b0eb;
}
.social-icons a:hover .fa-pinterest-p,
.contact-social-icon:hover .fa-pinterest-p {
    color: #f50909;
}

#check {
    display: none;
}

label {
    display: none;
}

.small_device_menu_btn_container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
    height: 35px;
    width: 40px;
}

.menu_btn_burger {
    height: 5px;
    width: 25px;
    margin: 5px 0px;
    border-radius: 50px;
    background: #77bc3f;
    transition: all 0.2s linear 0.05s;
}

.menu_btn_burgerUpperPart,
.menu_btn_burgerLowerPart {
    height: 5px;
    width: 35px;
    border-radius: 50px;
    background: #fff;
    transition: all 0.2s linear 0.05s;
}

.small_device_menu_btn_container:hover .menu_btn_burger {
    width: 35px;
}

.small_device_menu_btn_container:hover .menu_btn_burgerUpperPart,
.small_device_menu_btn_container:hover .menu_btn_burgerLowerPart {
    width: 25px;
}

@media (max-width: 991px) {
    label {
        display: block;
    }

    .L-device-social-icon {
        display: none;
    }

    .S-device-social-icon {
        display: block;
        width: 60%;
        height: fit-content;
        margin: auto;
        display: flex;
        align-items: stretch;
    }

    label .small_device_menu_btn_container {
        display: flex;
    }

    nav ul {
        position: fixed;
        width: 80%;
        height: 100vh;
        background-color: black;
        /* backdrop-filter: blur(15px); */
        color: #fff;
        top: 80px;
        left: -100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear 0.15s;
    }

    nav ul li {
        margin: 25px 0px 0px 8%;
    }

    nav ul .nav-btn {
        display: block;
        margin: 20px 0px 20px 8%;
        line-height: 30px;
    }

    .ul_cancel_wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.63);
        /* backdrop-filter: blur(5px); */
        top: 80px;
        left: -100%;
        z-index: 99;
        transition: all 0.3s linear;
    }

    #Check:checked ~ ul {
        left: 0;
    }

    #Check:checked ~ label #menu_burger_btn {
        transform: scale(0.5);
        background-color: transparent;
    }

    #Check:checked ~ label .menu_btn_burgerUpperPart {
        transform: translateY(10px) rotate(45deg);
        background-color: red;
    }

    #Check:checked ~ label .menu_btn_burgerLowerPart {
        transform: translateY(-10px) rotate(-45deg);
    }

    #Check:checked ~ label .ul_cancel_wrapper {
        left: 0;
    }
}

@media (max-width: 360px) {
    .S-device-social-icon {
        width: 80%;
    }
}

@media (max-height: 720px) {
    .S-device-social-icon {
        display: none;
    }
}

/* -----------End of Nav---------- */
#home {
}

header {
    user-select: none;
    width: 100%;
    height: calc(100vh + 20px);
    position: relative;
    top: -20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(70%);
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}
.header-content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content-wrapper {
    height: 224px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.header-content-wrapper h5 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 15px;
}

.header-common-heading {
    font-size: 100px;
    font-weight: 600;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.header-content-wrapper p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: auto;
    width: calc(900px - 150px);
}

.header-content-wrapper p span {
    color: tomato;
    font-weight: 600;
}

.header-content a {
    color: rgb(155, 150, 117);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 26px;
    background: white;
    border: 4px solid rgba(2, 2, 2, 0.151);
    border-radius: 50px;
    margin-top: 30px;
    transition: all 0.2s linear 0.2s;
}
.header-content a:hover {
    border: 4px solid rgb(155, 150, 117);
    transform: scale(1.1);
}
.header-content a:active {
    transform: scale(0.95);
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-first-content,
.header-second-content {
    position: absolute;
    top: 0;
}

/* -----------End of Header---------- */
#about {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about h5 {
    font-size: 16px;
    text-align: center;
    margin: 20px;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(131, 128, 88);
    color: transparent;
    letter-spacing: 2px;
}

#about h1 {
    margin-bottom: 50px;
}
.about {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image-container {
    position: relative;
    width: 35%;
    height: 60vh;
}
.about-image {
    height: 30%;
    width: 55%;
    position: absolute;
}
.about-image img {
    height: 100%;
    width: 100%;
}

#image-1 {
}
#image-2 {
    top: calc(30% - 6.32%);
    right: 0px;
}
#image-3 {
    top: calc(60% - 12.64%);
}
#image-4 {
    top: calc(90% - 19.28%);
    right: 0%;
}

.about-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content p {
    text-align: justify;
    font-size: 26px;
    line-height: 32px;
}

/* -----------End of About---------- */
#services {
    padding: 80px 0px;
}
.services {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.services-content h5 {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(131, 128, 88);
    color: transparent;
    letter-spacing: 2px;
}
.services-content h6 {
    margin-bottom: 10px;
}
.services-content h1 {
    margin-bottom: 30px;
}

.services-content p {
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.services-sub-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-item {
    position: relative;
    height: 30vh;
    width: 45%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.service-bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.service-bg-image:hover {
    filter: brightness(100%);
}

.service-bg-image-1 {
    animation: service-bg-anim-1 58s infinite linear;
}
.service-bg-image-3 {
    animation: service-bg-anim-1 48s infinite linear;
}
.service-bg-image-5 {
    animation: service-bg-anim-1 54s infinite linear;
}
.service-bg-image-7 {
    animation: service-bg-anim-1 44s infinite linear;
}

.service-bg-image-9 {
    animation: service-bg-anim-1 36s infinite linear;
}
.service-bg-image-11 {
    animation: service-bg-anim-1 40s infinite linear;
}
@keyframes service-bg-anim-1 {
    0% {
        z-index: -50;
    }
    50% {
        filter: brightness(80%);
        transform: scale(1.2);
        z-index: 1;
    }
    100% {
        filter: brightness(40%);
        transform: scale(1);
        z-index: 1;
    }
}

.service-bg-image-2 {
    animation: service-bg-anim-2 58s infinite linear;
}
.service-bg-image-4 {
    animation: service-bg-anim-2 48s infinite linear;
}
.service-bg-image-6 {
    animation: service-bg-anim-2 54s infinite linear;
}
.service-bg-image-8 {
    animation: service-bg-anim-2 44s infinite linear;
}
.service-bg-image-10 {
    animation: service-bg-anim-2 36s infinite linear;
}
.service-bg-image-12 {
    animation: service-bg-anim-2 40s infinite linear;
}
@keyframes service-bg-anim-2 {
    0% {
        filter: brightness(40%);
        transform: scale(1);
        z-index: 1;
    }
    50% {
        filter: brightness(80%);
        transform: scale(1.2);
        z-index: 1;
    }
    100% {
        z-index: -50;
    }
}

.service-bg-image img,
.service-bg-image img {
    height: 100%;
    width: 100%;
}

.service-content {
    width: 90%;
    height: 75%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-content h2 {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: 800;
    text-align: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.service-content ul {
    background: rgba(124, 124, 124, 0.548);
    width: 100%;
    min-height: 70%;
    font-size: 14px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    backdrop-filter: blur(1px);
}

.service-content ul li {
    margin: 5px 0px;
    width: 90%;
    list-style-type: circle;
}

.service-content ul .read-more {
    font-size: 10px;
    margin-top: 10px;
    padding: 5px 14px;
    font-weight: 600;
    border-radius: 20px;
    color: rgb(5, 5, 5);
    border: 0.5px solid transparent;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.service-content ul .read-more:hover {
    border: 0.5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
/* -----------End of Services---------- */
#counter {
    padding: 20px 0px;
}
.counter {
    position: relative;
    height: 400px;
    width: 100%;
}
.counter-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-color: rgba(68, 67, 67, 0.473);
}
.counter-container {
    height: 100%;
    width: 80%;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-container .counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-item-3 {
    transform: translateY(12px);
}
.counter-item-4 {
    transform: translateY(20px);
}
.counter-container .counter-item .number {
    font-size: 80px;
}

.counter-container .counter-item h3 {
    font-size: 20px;
    text-align: center;
}
.counter-container .counter-item h3 span {
    display: block;
    font-size: 8px;
}

/* -----------End of Counter---------- */
#projects {
    padding: 80px 0px;
}
.projects {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header h1 {
    margin-bottom: 10px;
}
.project-header h6 {
    margin-bottom: 5px;
}
.project-header p {
    font-size: 16px;
    font-weight: 600;
}
.projects-link-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-link-container {
    height: fit-content;
    width: 100%;
}
.project-link-container ul {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
    margin: 50px auto 30px;
}

.project-link-container ul li {
    list-style-type: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    word-spacing: 2px;
    padding: 5px 0px;
    margin: 5px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    position: relative;
}

.project-link-container ul li::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: lightgrey;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s linear 0.1s;
}

.project-link-container ul li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.projects-container {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    transition: height 0.5s ease-in-out;
}

/* When clicked on any project link without showAll, the class below will be added on project-container */
.projects-container-height_1-js {
    height: 35vh;
    transition-delay: 0.5s;
}

/* When clicked on showAll, the class below will be added on project-container */
.projects-container-height_2-js {
    height: 70vh;
    transition-delay: 0.5s;
}

.project {
    height: 50%;
    width: 33.33%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.project-height_1-js {
    height: 100%;
}
.project-height_2-js {
    height: 50%;
}
.project-1,
.project-3,
.project-5 {
    background: black;
    color: white;
}

.project-heading {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0px 5px;
    text-align: center;
    font-weight: 900;
    transform: scale(0);
    transition: all 0.2s linear 0.2s;
}

.project:hover .project-heading {
    transform: scale(1);
}

.project-title {
    font-size: 12px;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s linear 0.4s;
}

.project:hover .project-title {
    opacity: 1;
    transform: translateY(0px);
}

.project img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s linear;
}

.project:hover img {
    transform: scale(1.2);
    opacity: 0;
}

.project-clicked-js {
    transform: scale(1);
    display: flex;
    position: absolute;
}

.project-unclicked-anim-js {
    display: none;
    transform: scale(0);
    opacity: 0;
}

/* -----------End of Projects---------- */

#team {
    padding: 80px 0px;
}
.team-main-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.team-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.team-content h1 {
    margin-bottom: 20px;
}

.team-content p {
    font-size: 20px;
    line-height: 25px;
}
.team-image {
    max-width: 100%;
    max-height: 600px;
    margin: auto;
    overflow: hidden;
}
.team-image img {
    width: 100%;
    height: 100%;
}

/* -----------End of Team---------- */
#news {
    padding: 80px 0px;
}
.news-main-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.news-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}

.news-content h1 {
    margin-bottom: 20px;
}

.news-content p {
    width: 80%;
    font-size: 20px;
    line-height: 25px;
    margin: auto;
}

.newses-container {
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.news-container {
    height: 70vh;
    width: 32%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.news-image {
    height: 65%;
    width: 100%;
    overflow: hidden;
}

.news-image img {
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s linear 0.1s;
}

.news-image:hover img {
    transform: scale(1.1);
}

.news {
    width: 100%;
    padding: 30px 30px 50px;
    text-align: left;
}
.news h3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}

.news p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

/* -----------End of News---------- */

#contact {
    display: flex;
    flex-direction: column;
}
.contact-upper-angle-container {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.contact-upper-angle-1 {
    height: 300px;
    width: calc(100% + 300px);
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: translateX(-150px) rotate(-10deg);
    transform-origin: right bottom;
}
.contact-upper-angle-2 {
    position: absolute;
    height: 300px;
    width: calc(100% + 300px);
    background-color: rgb(0, 0, 0);
    transform: translateX(-150px) rotate(10deg);
    transform-origin: left bottom;
}
.contact-content-container {
    position: relative;
    height: fit-content;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.contact-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#test-text {
    width: 90%;
    animation: test-text-fill-anim 3s ease forwards 3.5s;
}
#test-text path {
    stroke-opacity: 0;
    animation-name: test-text-anim;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: forwards;
}
#test-text path:nth-child(1) {
    stroke-dasharray: 264px;
    stroke-dashoffset: 264px;
}
#test-text path:nth-child(2) {
    stroke-dasharray: 193px;
    stroke-dashoffset: 193px;
    animation-delay: 0.3s;
}
#test-text path:nth-child(3) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation-delay: 0.6s;
}
#test-text path:nth-child(4) {
    stroke-dasharray: 94px;
    stroke-dashoffset: 94px;
    animation-delay: 0.9s;
}
#test-text path:nth-child(5) {
    stroke-dasharray: 251px;
    stroke-dashoffset: 251px;
    animation-delay: 1.2s;
}
#test-text path:nth-child(6) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation-delay: 1.5s;
}
#test-text path:nth-child(7) {
    stroke-dasharray: 235px;
    stroke-dashoffset: 235px;
    animation-delay: 1.8s;
}
#test-text path:nth-child(8) {
    stroke-dasharray: 201px;
    stroke-dashoffset: 201px;
    animation-delay: 2.1s;
}
#test-text path:nth-child(9) {
    stroke-dasharray: 211px;
    stroke-dashoffset: 211px;
    animation-delay: 2.4s;
}
#test-text path:nth-child(10) {
    stroke-dasharray: 222px;
    stroke-dashoffset: 222px;
    animation-delay: 2.7s;
}

@keyframes test-text-anim {
    50% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 1px;
    }
}

@keyframes test-text-fill-anim {
    0% {
        fill: transparent;
    }
    100% {
        background-color: transparent;
        fill: white;
    }
}

.contact-content-header p {
    color: rgb(170, 170, 170);
    font-size: 20px;
    width: 70%;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: 30px auto;
}

.contact-main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-social-icon-container {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-social-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    transition: all 0.6s linear;
}

.contact-social-icon:hover {
    background-color: #fff;
}

.contact-social-icon a {
    padding: 100%;
}
.contact-social-icon i {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.phoneNumber-container,
.email-container,
.map-container {
    padding: 5px;
    margin: 10px;
}

.phoneNumber-container h2,
.email-container h2,
.map-container h2 {
    display: flex;
    align-items: center;
    color: white;
    transition: color 0.2s linear;
}

.phoneNumber-container h2 i,
.email-container h2 i,
.map-container h2 i {
    font-size: 50px;
    margin-right: 20px;
    /* transform: rotate(-35deg); */
    color: gray;
    transition: color 0.2s linear;
}

.phoneNumber-container h2 i {
    color: rgba(210, 255, 210, 0.514);
}

.phoneNumber-container:hover h2 i {
    color: rgb(163, 255, 163);
}

.phoneNumber-container h2 span {
    display: flex;
    flex-direction: column;
}

.phoneNumber-container h2 span .first-number {
    margin-bottom: 10px;
}

.phoneNumber-container h2 a,
.email-container h2 a,
.map-container h2 a {
    font-size: 35px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.514);
    transition: color 0.2s linear;
}

.phoneNumber-container h2 span .first-number:hover,
.phoneNumber-container h2 span .second-number:hover,
.email-container:hover h2 a,
.map-container:hover h2 a {
    color: white;
}

.email-container h2 i {
    transform: rotate(0deg);
    color: rgba(253, 253, 214, 0.514);
}

.email-container:hover h2 i {
    color: rgb(255, 255, 179);
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-container h2 {
    margin-bottom: 20px;
}
.map-container h2 i {
    transform: rotate(0deg);
    font-size: 40px;
    margin-right: 10px;
    color: rgba(255, 193, 182, 0.514);
}

.map-container:hover h2 i {
    color: rgb(255, 99, 71);
}

.map-container h2 span {
    letter-spacing: 1px;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.514);
    cursor: default;
    transition: color 0.3s linear;
}

.map-container:hover h2 span {
    color: white;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 290px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.copy-right-container {
    height: 150px;
    width: 100%;
    margin-top: 50px;
    background: rgba(117, 117, 117, 0.37);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30% 30% 0 0;
}
.copy-right {
    margin-bottom: 5px;
}
.copy-right h4 {
    display: inline;
    word-spacing: 2px;
}

.web-designer {
    text-align: center;
    color: white;
}

.web-designer p {
    display: inline;
    font-size: 14px;
}
.web-designer p a {
    color: white;
    font-weight: 600;
}

.heart {
    width: 22px;
    height: 22px;
    display: inline-block;
    font-size: 20px;
    color: #e00;
    animation: beat 0.25s infinite alternate;
    transform-origin: center;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

/* -----------End of Contact---------- */

#WhatsApp {
}
.whatsApp-chat {
    user-select: none;
    height: 200px;
    width: 320px;
    border-radius: 30px;
    background-color: rgb(253, 248, 238);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 35px;
    left: 2%;
    z-index: 100000;
    overflow: hidden;
    transform: translateX(-400px);
    transition: transform 0.3s linear;
}

.chat-top {
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #25d366;
}
.whatsApp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 248, 235);
}
.whatsApp-logo h4 {
    font-size: 18px;
    font-weight: 600;
}
.whatsApp-logo i {
    font-size: 34px;
    margin-right: 5px;
}
.close-chat {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

.close-chat i {
    color: rgba(255, 255, 255, 0.473);
    transition: all 0.2s linear;
}

.close-chat:hover i {
    color: rgb(255, 248, 235);
}

.al-arysha-chat {
    height: 50px;
    width: 90%;
    border-radius: 10px 0px 10px 10px;
    margin-top: 10px;
    position: absolute;
    right: 2%;
    border: 2px solid rgb(255, 230, 187);
    background-color: rgb(255, 238, 205);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.al-arysha-chat p {
    font-size: 14px;
}

.open-whatsApp {
    user-select: none;
    height: 50px;
    width: 150px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    position: fixed;
    bottom: 40px;
    left: 2.5%;
    z-index: 100000;
    background: #128c7e;
    transition: all 0.1s linear;
}
.open-whatsApp p {
    color: lightyellow;
    font-weight: 500;
}
.open-whatsApp .fa-comments {
    color: lightyellow;
    font-size: 22px;
    margin-right: 10px;
}

.display-none {
    display: none !important;
}

.whatsApp-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    left: 2.5%;
    z-index: 100000;
    background: #25d366;
    cursor: pointer;
    transition: all 0.2s linear;
}

.main-whatsApp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.whats-app-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.whats-app-link a {
    width: 100%;
}

.whatsApp-container:hover {
    background: #128c7e;
    opacity: 1;
}
.whatsApp-container i {
    font-size: 40px;
    color: lightyellow;
}

/* -----------End of WhatsApp---------- */

/* 1  Extra large devices (large laptops and desktops, 1300px and down) */

@media (max-width: 1300px) {
    .about-image-container {
        position: relative;
        width: 35%;
        height: 55vh;
    }
    .about-image {
        height: 28%;
        width: 60%;
        position: absolute;
    }

    #image-1 {
        top: 5%;
    }
    #image-2 {
        top: calc(100% - 78% + 5%);
        right: 0px;
    }
    #image-3 {
        top: calc(100% - 54% + 3%);
    }
    #image-4 {
        top: calc(100% - 27%);
        right: 0%;
    }

    .about-content p {
        font-size: 22px;
    }

    /* -----------End of About---------- */

    .services-content h1 {
        margin-bottom: 15px;
    }

    .services-content p {
        width: 90%;
    }

    .service-item {
        height: 28vh;
        width: 48%;
        margin-bottom: 30px;
    }

    .service-content {
        height: 80%;
    }

    .service-content h2 {
        font-weight: 500;
    }

    .service-content ul li {
        margin: 3px 0px;
    }

    /* -----------End of Services---------- */

    .counter {
        height: 300px;
    }

    .counter-item-3 {
        transform: translateY(8px);
    }
    .counter-item-4 {
        transform: translateY(16px);
    }
    .counter-container .counter-item .number {
        font-size: 60px;
    }

    .counter-container .counter-item h3 {
        font-size: 16px;
    }

    /* -----------End of Counter---------- */

    .project-link-container ul {
        justify-content: center;
    }

    .projects-container {
        height: 55vh;
        position: relative;
    }

    /* When clicked on any project link without showAll, the class below will be added on project-container */
    .projects-container-height_1-js {
        height: 27.5vh;
    }

    /* When clicked on showAll, the class below will be added on project-container */
    .projects-container-height_2-js {
        height: 55vh;
    }

    .project-heading {
        font-weight: 800;
    }

    /* -----------End of Projects---------- */

    /* -----------End of Team---------- */

    .news-content {
        display: flex;
        margin-bottom: 60px;
    }

    .news-container {
        height: 60vh;
    }

    .news-image {
        height: 60%;
    }

    .news {
        padding: 30px 20px 20px;
    }

    .news h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    /* -----------End of News---------- */

    .contact-upper-angle-container {
        height: 150px;
    }

    .contact-content-container {
        padding-top: 50px;
    }

    .contact-content-header p {
        font-size: 18px;
        letter-spacing: 1.5px;
    }

    .phoneNumber-container h2 i,
    .email-container h2 i,
    .map-container h2 i {
        font-size: 40px;
        margin-right: 15px;
    }

    .phoneNumber-container h2 a,
    .email-container h2 a,
    .map-container h2 a {
        font-size: 30px;
        font-weight: 700;
    }

    .map-container h2 {
        margin-bottom: 15px;
    }

    .map-container h2 span {
        font-size: 22px;
    }

    /* -----------End of Contact---------- */
}

/* 2  Large devices (laptops/Ipads, 1023px and down) */

@media (max-width: 1023px) {
    .header-content-wrapper {
        height: 230px;
    }

    .header-content-wrapper h5 {
        letter-spacing: 1px;
        font-weight: 600;
    }

    .header-content-wrapper h1 {
        font-size: 75px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .header-content-wrapper p {
        font-size: 22px;
        letter-spacing: 1px;
        width: 90%;
    }

    .header-content a {
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 24px;
        background: rgba(248, 248, 248, 0.37);
        border: 3px solid rgb(255, 252, 252);

        transition: all 0.2s linear;
    }
    .header-content a:hover {
        border: 3px solid rgb(255, 252, 252);
        transform: scale(1.05);
    }
    .header-content a:active {
        transform: scale(0.95);
    }

    /* -----------End of Header---------- */
    #about {
        min-height: 100vh;
    }

    #about h5 {
        font-size: 14px;
        margin: 15px;
    }

    #about h1 {
        margin-bottom: 30px;
    }

    .about {
        width: 60%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-image-container {
        display: none;
    }

    .about-content {
        width: 100%;
    }

    .about-content p {
        font-size: 22px;
    }

    /* -----------End of About---------- */

    #services {
        padding: 80px 0px 30px;
    }
    .services {
        width: 90%;
    }

    .services-content {
        margin-bottom: 50px;
    }

    .services-content h5 {
        font-size: 14px;
    }

    .services-content h1 {
        margin-bottom: 15px;
    }

    .services-content p {
        width: 100%;
        font-size: 18px;
        word-spacing: 1px;
    }

    .services-sub-container {
        flex-direction: column;
    }

    .service-item {
        height: 300px;
        width: 100%;
    }

    .service-content h2 {
        margin-bottom: 20px;
    }

    .service-content ul {
        width: 90%;
    }

    /* -----------End of Services---------- */

    .counter {
        height: 230px;
    }

    .counter-container {
        width: 90%;
    }

    .counter-item-3 {
        transform: translateY(9px);
    }
    .counter-item-4 {
        transform: translateY(14px);
    }
    .counter-container .counter-item .number {
        font-size: 40px;
    }

    .counter-container .counter-item h3 {
        font-size: 14px;
    }

    /* -----------End of Counter---------- */
    #projects {
        min-height: 100vh;
    }
    .projects {
        width: 90%;
    }

    .project-link-container ul {
        justify-content: center;
    }

    .projects-container {
        height: 50vh;
    }

    /* When clicked on any project link without showAll, the class below will be added on project-container */
    .projects-container-height_1-js {
        height: 25vh;
    }

    /* When clicked on showAll, the class below will be added on project-container */
    .projects-container-height_2-js {
        height: 50vh;
    }

    .project-heading {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .project-title {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 700;
    }

    /* -----------End of Projects---------- */

    .team-main-container {
        width: 90%;
    }
    .team-content {
        margin-bottom: 40px;
    }
    .team-content h1 {
        margin-bottom: 15px;
    }

    .team-content p {
        font-size: 18px;
        line-height: 24px;
    }

    /* -----------End of Team---------- */

    .news-main-container {
        width: 90%;
    }
    .news-content {
        margin-bottom: 50px;
    }

    .news-content h1 {
        margin-bottom: 15px;
    }

    .news-content p {
        width: 90%;
        font-size: 18px;
        line-height: 24px;
    }

    .newses-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .news-1,
    .news-2 {
        margin-right: 10px;
    }

    .news-container {
        height: 450px;
        width: 300px;
        margin-bottom: 40px;
    }

    .news-image {
        height: 58%;
    }

    .news {
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .news h3 {
        padding: 20px 20px 15px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .news p {
        padding: 0px 20px;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }

    /* -----------End of News---------- */

    .contact-upper-angle-container {
        height: 120px;
    }

    .contact-content-container {
        padding-top: 40px;
    }

    .contact-content-header p {
        font-size: 18px;
        width: 85%;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .phoneNumber-container h2 i,
    .email-container h2 i,
    .map-container h2 i {
        font-size: 35px;
        margin-right: 15px;
    }

    .phoneNumber-container h2 a,
    .email-container h2 a,
    .map-container h2 a {
        font-size: 28px;
        font-weight: 600;
    }

    .map-container h2 {
        margin-bottom: 15px;
    }

    .map-container h2 span {
        font-size: 20px;
    }

    /* -----------End of Contact---------- */
}

/* 3  Medium devices (landscape tablets, 768px and down) */

@media (max-width: 768px) {
    .header-content-wrapper {
        width: 95%;
        height: 265px;
    }

    .header-second-content {
        transform: translateY(50px);
    }

    .header-content-wrapper h5 {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .header-content-wrapper h1 {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .header-content-wrapper p {
        font-size: 20px;
        letter-spacing: 1px;
        width: 95%;
        line-height: 24px;
    }

    /* -----------End of Header---------- */

    .common-heading {
        font-size: 45px;
    }

    #about h5 {
        font-size: 12px;
        margin: 12px;
        -webkit-text-stroke: 1px rgb(131, 128, 88);
    }

    #about h1 {
        margin-bottom: 20px;
    }

    .about {
        width: 80%;
    }

    /* -----------End of About---------- */

    #services {
        padding: 60px 0px 10px;
    }

    .services-content h5 {
        font-size: 12px;

        -webkit-text-stroke: 1px rgb(131, 128, 88);
    }

    .services-content p {
        width: 100%;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }

    .services-content h1 {
        margin-bottom: 10px;
    }

    .service-content ul li {
        letter-spacing: 0.5px;
    }

    /* -----------End of Services---------- */

    .counter {
        height: 160px;
    }

    .counter-item-3 {
        transform: translateY(8px);
    }

    .counter-item-4 {
        transform: translateY(13px);
    }

    .counter-container .counter-item .number {
        font-size: 35px;
    }

    .counter-container .counter-item h3 {
        font-size: 12px;
    }

    /* -----------End of Counter---------- */

    #projects {
        padding: 60px 0px;
    }

    .projects-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: lightgrey;
        height: 600px;
    }

    /* When clicked on any project link without showAll, the class below will be added on project-container */
    .projects-container-height_1-js {
        height: 200px;
    }

    /* When clicked on showAll, the class below will be added on project-container */
    .projects-container-height_2-js {
        height: 600px;
    }

    .project {
        height: 200px;
        width: 50%;
    }

    .project-height_1-js {
        height: 200px;
    }
    .project-height_2-js {
        height: 200px;
    }

    /* -----------End of Projects---------- */

    #team {
        padding: 60px 0px;
        display: flex;
        align-items: center;
    }
    .team-main-container {
        width: 90%;
    }
    .team-content {
        margin-bottom: 30px;
    }
    .team-content h1 {
        margin-bottom: 10px;
    }

    .team-content p {
        width: 100%;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }

    /* -----------End of Team---------- */

    #news {
        padding: 60px 0px 40px;
    }
    .news-content {
        margin-bottom: 50px;
    }

    .news-content h1 {
        margin-bottom: 10px;
    }

    .news-content p {
        width: 100%;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }

    .news-container {
        height: 400px;
    }

    .news-image {
        height: 55%;
    }

    .news h3 {
        padding: 20px 15px 15px;
    }

    .news p {
        padding: 0px 15px;
    }

    /* -----------End of News---------- */

    .contact-upper-angle-container {
        height: 100px;
    }

    .contact-content-container {
        padding-top: 40px;
    }

    .contact-content-header p {
        width: 85%;
        line-height: 24px;
        letter-spacing: 1px;
        font-size: 16px;
        word-spacing: 1px;
    }

    .phoneNumber-container h2 i,
    .email-container h2 i,
    .map-container h2 i {
        font-size: 35px;
        margin-right: 10px;
    }

    .phoneNumber-container h2 a,
    .email-container h2 a,
    .map-container h2 a {
        font-size: 26px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .map-container {
        width: 100%;
    }
    .map-container h2 {
        margin-bottom: 15px;
    }

    .mapouter {
        height: 250px;
        width: 80%;
    }

    /* -----------End of Contact---------- */
}

/* 4  Small devices (portrait tablets and large phones, 500px and down) */

@media (max-width: 500px) {
    .header-content-wrapper {
        height: 265px;
    }

    .header-second-content {
        transform: translateY(20px);
    }

    .header-content-wrapper h5 {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .header-content-wrapper h1 {
        font-size: 48px;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 55px;
        margin-bottom: 15px;
    }

    .header-content-wrapper p {
        font-size: 18px;
        letter-spacing: 1px;
        width: 95%;
        line-height: 24px;
    }

    /* -----------End of Header---------- */

    .common-heading {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 45px;
        font-weight: 800;
    }

    #about {
        padding: 30px 0px;
    }

    #about h5 {
        font-size: 10px;
        margin: 10px;
        -webkit-text-stroke: 1px rgb(131, 128, 88);
    }

    #about h1 {
        margin-bottom: 30px;
    }

    .about {
        width: 90%;
    }
    .about-content p {
        text-align: justify;
        font-size: 18px;
        line-height: 28px;
    }

    /* -----------End of About---------- */

    #services {
        padding: 30px 0px 10px;
    }

    .services-content {
        margin-bottom: 30px;
    }

    .services-content h5 {
        font-size: 10px;
        -webkit-text-stroke: 1px rgb(131, 128, 88);
    }

    .services-content h1 {
        margin-bottom: 15px;
    }

    .services-content p {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }

    .service-item {
        height: 300px;
        width: 100%;
    }

    .service-content {
        width: 100%;
        height: 90%;
    }

    .service-content h2 {
        font-size: 26px;
        line-height: 24px;
        margin-bottom: 10px;
        font-weight: 900;
        letter-spacing: 0px;
        word-spacing: 0px;
        -webkit-text-stroke: 1.5px white;
        color: transparent;
    }

    .service-content ul {
        width: 100%;
        font-size: 13px;
    }

    .service-content ul li {
        letter-spacing: 0.5px;
    }

    .service-content ul li {
        margin: 0px 0px 5px;
        width: 90%;
    }
    /* -----------End of Services---------- */

    .counter {
        height: 100px;
    }

    .counter-item-3 {
        transform: translateY(6px);
    }

    .counter-item-4 {
        transform: translateY(10px);
    }

    .counter-container .counter-item .number {
        font-size: 25px;
    }

    .counter-container .counter-item h3 {
        font-size: 10px;
    }
    .counter-container .counter-item h3 span {
        font-size: 7px;
    }

    /* -----------End of Counter---------- */

    #projects {
        padding: 30px 0px;
    }

    .project-link-container ul {
        margin: 35px 0px 30px;
    }

    .project-link-container ul li {
        word-spacing: 0px;
        margin: 5px 10px;
    }

    .projects-container {
        width: 80%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: lightgrey;
        height: calc(200px * 6);
    }

    /* When clicked on any project link without showAll, the class below will be added on project-container */
    .projects-container-height_1-js {
        height: 200px;
    }

    /* When clicked on showAll, the class below will be added on project-container */
    .projects-container-height_2-js {
        height: calc(200px * 6);
    }

    .project {
        height: 200px;
        width: 100%;
    }

    .project-height_1-js {
        height: 200px;
    }
    .project-height_2-js {
        height: 200px;
    }

    /* -----------End of Projects---------- */

    #team {
        padding: 30px 0px;
        min-height: 100vh;
    }
    .team-content p {
        line-height: 22px;
        font-size: 16px;
        word-spacing: 0px;
    }

    /* -----------End of Team---------- */

    #news {
        padding: 30px 0px;
        min-height: 100vh;
    }

    .news-content p {
        font-size: 16px;
        word-spacing: 0px;
        line-height: 22px;
    }

    /* -----------End of News---------- */

    .contact-upper-angle-container {
        height: 70px;
    }

    .contact-content-container {
        padding-top: 30px;
    }

    .contact-content-header p {
        width: 85%;
        line-height: 22px;
        letter-spacing: 1px;
        font-size: 16px;
        word-spacing: 0px;
        margin: 20px auto 15px;
    }

    .contact-social-icon-container {
        margin: 15px 0px 10px;
    }

    .contact-social-icon {
        height: 30px;
        width: 30px;
    }

    .contact-social-icon i {
        font-size: 16px;
        font-weight: 600;
    }

    .phoneNumber-container,
    .email-container,
    .map-container {
        margin: 5px;
    }

    .phoneNumber-container h2 i,
    .email-container h2 i,
    .map-container h2 i {
        font-size: 30px;
        margin-right: 10px;
    }

    .phoneNumber-container h2 a,
    .email-container h2 a,
    .map-container h2 a {
        font-size: 20px;
        letter-spacing: 0.5px;
        font-weight: 600;
    }

    .map-container h2 span {
        font-size: 16px;
    }

    /* -----------End of Contact---------- */
    .whatsApp-container {
        height: 50px;
        width: 50px;
        bottom: 30px;
        opacity: 0.9;
    }
    #whatsApp-icon {
        font-size: 33px;
    }

    /* -----------End of WhatsApp---------- */
}

/* 5  Extra extra small devices (phones, 360px and down) */

@media (max-width: 365px) {
    .header-content-wrapper {
        height: 300px;
    }

    .header-second-content {
        transform: translateY(35px);
    }

    .header-content-wrapper h5 {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .header-content-wrapper h1 {
        font-size: 45px;
        letter-spacing: 1px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .header-content-wrapper p {
        font-size: 16px;
        letter-spacing: 1px;
        width: 90%;
        line-height: 20px;
    }

    /* -----------End of Header---------- */

    .common-heading {
        font-size: 35px;
        letter-spacing: 0.5px;
        line-height: 40px;
        font-weight: 800;
        width: 95%;
    }

    #about h5 {
        font-size: 10px;
        margin: 10px;
        -webkit-text-stroke: 1px rgb(131, 128, 88);
    }

    #about h1 {
        margin-bottom: 20px;
    }

    .about {
        width: 90%;
    }
    .about-content p {
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    /* -----------End of About---------- */

    #services {
        padding: 60px 0px 10px;
    }

    .services-content {
        margin-bottom: 30px;
    }

    .services-content h1 {
        margin-bottom: 10px;
    }

    .services-content p {
        letter-spacing: 0.2px;
    }

    .service-item {
        height: 350px;
        width: 100%;
    }

    .service-content h2 {
        width: 95%;
    }

    .service-content ul {
        font-size: 14px;
    }

    .service-content ul li {
        letter-spacing: 0.7px;
        line-height: 15px;
        word-spacing: 1px;
        margin: 0px 0px 8px;
        width: 90%;
    }
    /* -----------End of Services---------- */

    .counter {
        height: 80px;
    }

    .counter-item-3 {
        transform: translateY(4.5px);
    }

    .counter-item-4 {
        transform: translateY(7px);
    }

    .counter-container .counter-item .number {
        font-size: 20px;
    }

    .counter-container .counter-item h3 {
        font-size: 8px;
    }
    .counter-container .counter-item h3 span {
        font-size: 7px;
    }

    /* -----------End of Counter---------- */

    .news-content {
        margin-bottom: 30px;
    }

    #news {
        padding: 30px 0px;
    }

    .news-container {
        height: 430px;
    }
    .news-content p {
        font-size: 16px;
        word-spacing: 0px;
        line-height: 22px;
    }

    /* -----------End of News---------- */

    .contact-upper-angle-container {
        height: 55px;
    }

    .contact-content-container {
        padding-top: 25px;
    }

    .contact-content-header p {
        width: 90%;
        font-size: 15px;
    }

    .contact-social-icon-container {
        margin: 15px 0px 10px;
    }

    .contact-social-icon i {
        font-size: 16px;
    }

    .phoneNumber-container,
    .email-container,
    .map-container {
        margin: 5px 0px;
    }

    .phoneNumber-container h2 i,
    .email-container h2 i {
        font-size: 20px;
        margin-right: 8px;
        height: 35px;
        width: 35px;
        background: rgba(255, 255, 255, 0.37);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .phoneNumber-container h2,
    .email-container h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .email-container h2 {
        margin-bottom: 15px;
    }
    .phoneNumber-container h2 a,
    .email-container h2 a {
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 600;
    }
    .phoneNumber-container h2 span,
    .email-container h2 span,
    .map-container h2 span {
        margin: 10px 0px;
    }

    .map-container h2 span {
        font-size: 16px;
    }

    .mapouter {
        height: 220px;
        width: 90%;
    }

    .copy-right-container {
        border-radius: 20% 20% 0 0;
    }
    .copy-right {
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .copy-right h4 {
        display: inline;
        word-spacing: 2px;
    }
    .copy-right h4 {
        display: block;
        word-spacing: 1px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
    }

    /* -----------End of Contact---------- */

    .whatsApp-chat {
        height: 200px;
        width: 90%;
    }

    /* -----------End of WhatsApp---------- */
}
